@use "sass:math";
@import "./variables";

@function scale($degree) {
  $result: 1;

  @if ($degree < 1) {
    @for $i from -1 to $degree {
      $result: math.div($result, $scaling-ratio);
    }
  } @else {
    @for $i from 1 to $degree {
      $result: $result * $scaling-ratio;
    }
  }

  @return $result;
}

// TODO: is there a Sass module that does this?
@function unitless($val) {
  @return math.div($val, ($val * 0 + 1));
}
