%textflow {
  overflow-wrap: break-word;
  hyphens: auto;
}

%pseudo-children {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
  }
}

%text-font {
  font-family: $font-family-text;
}

%display-font {
  font-family: $font-family-display;
}

%mono-font {
  font-family: $font-family-mono;
}
