%textflow {
  overflow-wrap: break-word;
  hyphens: auto;
}

%pseudo-children {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
  }
}

%text-font {
  font-family: $font-family-text;
}

%display-font {
  font-family: $font-family-display;
}

%mono-font {
  font-family: $font-family-mono;
}

%bottom-margin {
  margin: 0 0 1em;
}

%bottom-margin-sm {
  margin: 0 0 scale(-2) * 1em;
}

%bordered {
  border-radius: 4px;
  border: 1px solid $color-primary;
}

%blocked {
  display: block;
  width: 100%;
  height: auto;
}

%focus-outline {
  &:focus {
    outline: 2px solid $color-accent;
    border-color: $color-accent;
  }
}
