/**
 * Responsive breakpoints; currently supports 3 breakpoints that roughly
 * equate to phone, tablet, and "desktop monitor" 
 */
$screen-size-md: 768px;
$screen-size-lg: 1280px;

/**
 * Used to set the base font size unit (on the HTML tag), the basis for all
 * relative sizes downstream; affects anything sized by `rem`
 */
$font-size-base: 1em;
$font-size-base-md: 1.1em;
$font-size-base-lg: 1.2em;

/**
 *
 */
$line-height-base: 1.563;

/**
 * The stepping unit of our type scale; affects both font sizes and margins for
 * text elements like `p` tags and headings.
 */
$scaling-ratio: 1.25;

/**
 * "Display" font family is intended for accent pieces, such as headings and
 * decorative text; "text" font family is the workhorse font that appears
 * everywhere else
 */
$font-family-display: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
$font-family-display-weight: 700;

$font-family-text: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
$font-family-text-weight: 400;

/**
 * Defines the two "base" colors used in decorating elements; we'll use these
 * derive lighter tints and darker shades so they ought to be in the middle of
 * the color spectrum for best results.
 */
$color-primary: #808386;
$color-accent: #789abc;

/**
 * Used in creating tints and shades of the primary and accent colors defined
 * above
 */
$color-adjustment: 12%;
