{% extends "index.njk" %}

{% block content %}
<header>
  <h1>Simmerplate Demo (EDIT)</h1>
  <p>Here's a simple Simmperplate demo page displaying <em>almost</em> every HTML tag.</p>
  <nav>
    <ul>
      <li>
        <a href="#text">Text</a>
        <ul>
          <li><a href="#headings">Headings</a></li>
          <li><a href="#paragraphs">Paragraphs</a></li>
          <li><a href="#textStyles">Text Styles</a></li>
          <li><a href="#textDemo">Mixed/Realistic Text Demo</a></li>
        </ul>
      </li>
      <li>
        <a href="#forms">Form Elements</a>
        <ul>
          <li><a href="#textFields">Text and Textlike Inputs</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<article id="text">
  <h2>Text</h2>

  <section id="headings">
    <h1>&lt;h1&gt;The Quick Brown Fox Jumps Over the Lazy Dog&lt;/h1&gt;</h1>
    <h2>&lt;h2&gt;The Quick Brown Fox Jumps Over the Lazy Dog&lt;/h2&gt;</h2>
    <h3>&lt;h3&gt;The Quick Brown Fox Jumps Over the Lazy Dog&lt;/h3&gt;</h3>
    <h4>&lt;h4&gt;The Quick Brown Fox Jumps Over the Lazy Dog&lt;/h4&gt;</h4>
    <h5>&lt;h5&gt;The Quick Brown Fox Jumps Over the Lazy Dog&lt;/h5&gt;</h5>
    <h6>&lt;h6&gt;The Quick Brown Fox Jumps Over the Lazy Dog&lt;/h6&gt;</h6>
  </section>

  <section id="paragraphs">
    <h3>Paragraphs</h3>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque orci quis est volutpat, at volutpat sapien congue.</p>
    
    <p>Ut nec ante ac metus eleifend pretium rhoncus quis metus. Mauris ullamcorper, diam ut ullamcorper vestibulum, neque sem ullamcorper odio, nec maximus neque velit at elit. Donec id luctus ligula. Nunc mattis convallis mauris, eu sagittis neque.</p>
    
    <p>Vestibulum ultricies tincidunt ipsum, vitae rhoncus libero mollis vitae. Fusce mauris odio, iaculis eget vehicula eu, faucibus id elit.</p>

    <p>Ut et hendrerit ligula, quis ullamcorper ligula. In rhoncus nibh quis odio egestas commodo. Aliquam elit nisi, ultricies in ligula at, iaculis pellentesque sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus placerat purus dolor, et commodo sem luctus eget. Ut malesuada felis a tristique accumsan. Suspendisse potenti. Donec laoreet dolor massa, in efficitur sem semper nec. In egestas eros ac aliquet accumsan. Pellentesque porttitor turpis vulputate ex ultrices, vitae tempus erat tincidunt. Ut dignissim quis quam sed semper.</p>
  </section>

  <section id="textStyles">
    <h3>Text Styles</h3>

    <p><em>This text is italic, styled with the &lt;em&gt; tag.</em></p>
    <p><i>This text is italic, styled with the &lt;i&gt; tag.</i></p>
    <p><strong>This text is bold, styled with the &lt;strong&gt; tag.</strong></p>
    <p><b>This text is bold, styled with the &lt;b&gt; tag.</b></p>
  </section>

  <section id="textDemo">
    <h3>Mixed/Realistic Text Demo</h3>
    <article>
      <h1>This is a Page Title</h1>
      <p>This is an paragraph as the fist-child of an H1; it's got special styling since it's assumed to be a descriptive subtitle.</p>

      <h2>Another Fox Jumping Lazy Dogs</h2>
      <p>Ut et hendrerit ligula, quis ullamcorper ligula. In rhoncus nibh quis odio egestas commodo. Aliquam elit nisi, ultricies in ligula at, iaculis pellentesque sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus placerat purus dolor, et commodo sem luctus eget.</p>
      <p>Ut malesuada felis a tristique accumsan. Suspendisse potenti. Donec laoreet dolor massa, in efficitur sem semper nec. In egestas eros ac aliquet accumsan. Pellentesque porttitor turpis vulputate ex ultrices, vitae tempus erat tincidunt. Ut dignissim quis quam sed semper.</p>

      <h2>This Time, the Lazy Dog Jumps Over the Quick Brown Fox!</h2>      
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque orci quis est volutpat, at volutpat sapien congue.</p>

      <h3>Curse That Lazy Dog</h3>
      <p>Ut nec ante ac metus eleifend pretium rhoncus quis metus. Mauris ullamcorper, diam ut ullamcorper vestibulum, neque sem ullamcorper odio, nec maximus neque velit at elit. Donec id luctus ligula. Nunc mattis convallis mauris, eu sagittis neque.</p>

      <h3>It's Jumping the Quick Brown Fox</h3>
      <p>Vestibulum ultricies tincidunt ipsum, vitae rhoncus libero mollis vitae. Fusce mauris odio, iaculis eget vehicula eu, faucibus id elit.</p>

      <h4>I Wonder About Red Foxes</h4>
      <p>Ut et hendrerit ligula, quis ullamcorper ligula. In rhoncus nibh quis odio egestas commodo. Aliquam elit nisi, ultricies in ligula at, iaculis pellentesque sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus placerat purus dolor, et commodo sem luctus eget.</p>

      <h4>Red Foxes Might be Quicker Than Brown Foxes</h4>
      <p>Ut malesuada felis a tristique accumsan. Suspendisse potenti. Donec laoreet dolor massa, in efficitur sem semper nec. In egestas eros ac aliquet accumsan. Pellentesque porttitor turpis vulputate ex ultrices, vitae tempus erat tincidunt. Ut dignissim quis quam sed semper.</p>

      <h5>After All; That Would Negate the Entire Premise</h5>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque orci quis est volutpat, at volutpat sapien congue.</p>

      <h6>Maybe; Not Sure About That</h6>
      <p>Ut malesuada felis a tristique accumsan. Suspendisse potenti. Donec laoreet dolor massa, in efficitur sem semper nec. In egestas eros ac aliquet accumsan. Pellentesque porttitor turpis vulputate ex ultrices, vitae tempus erat tincidunt. Ut dignissim quis quam sed semper.</p>

      <h6>Will Need to Look into it a Bit Further</h6>
      <p>Ut nec ante ac metus eleifend pretium rhoncus quis metus. Mauris ullamcorper, diam ut ullamcorper vestibulum, neque sem ullamcorper odio, nec maximus neque velit at elit. Donec id luctus ligula. Nunc mattis convallis mauris, eu sagittis neque.</p>

      <h4>This is Most Likely Irrelevant</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque orci quis est volutpat, at volutpat sapien congue.</p>

      <h3>All Good; Let's Wrap it Up</h3>
      <p>Ut nec ante ac metus eleifend pretium rhoncus quis metus. Mauris ullamcorper, diam ut ullamcorper vestibulum, neque sem ullamcorper odio, nec maximus neque velit at elit. Donec id luctus ligula. Nunc mattis convallis mauris, eu sagittis neque.</p>
    </article>
  </section>
</article>

<article id="forms">
  <h2>Form Elements</h2>

  <section id="textFields">
    <h3>Text and Textlike Inputs</h3>

    <label for="dateInput">Date Input</label>
    <input type="date" id="dateInput" />

    <label for="datetimeInput">Datetime-local Input</label>
    <input type="datetime-local" id="datetimeInput" />

    <label for="emailInput">Email Input</label>
    <input type="email" id="emailInput" />

    <label for="monthInput">Month Input</label>
    <input type="month" id="monthInput" />

    <label for="numberInput">Number Input</label>
    <input type="number" id="numberInput" />

    <label for="passwordInput">Password Input</label>
    <input type="password" id="passwordInput" />

    <label for="searchInput">Search Input</label>
    <input type="search" id="searchInput" />

    <label for="telInput">Telephone (Tel) Input</label>
    <input type="tel" id="telInput" />

    <label for="textInput">Text Input</label>
    <input type="text" id="textInput" />

    <label for="timeInput">Time Input</label>
    <input type="time" id="timeInput" />

    <label for="urlInput">URL Input</label>
    <input type="url" id="urlInput" />
  </section>
</article>
{% endblock %}
