label {
  display: block;
  color: $color-primary-darker;
  font-weight: 500;
  margin-bottom: scale(-7) * 1rem;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  @extend %display-font;
  @extend %bottom-margin;

  font-size: inherit;
}

[type="text"],
[type="password"],
[type="url"],
[type="email"],
[type="tel"],
[type="search"],
[type="number"],
[type="file"],
[type="date"],
[type="month"],
[type="week"],
[type="datetime"],
[type="datetime-local"],
select,
textarea {
  @extend %bottom-margin;
  @extend %text-font;
  @extend %bordered;
  @extend %blocked;
  @extend %focus-outline;

  font-size: inherit;
  position: relative;

  &:not([type="file"]) {
    padding: scale(-2) * 1em;
  }
}

[type="file"] {
  padding: 0;
}

::file-selector-button {
  font-family: inherit;
  font-size: 1rem;
  color: white;
  background-color: $color-accent;
  border: 0;
  border-radius: 4px;
  margin-left: -1px;
  margin-right: 1rem;
  padding: scale(-2) * 1em 1em;
}

[type="radio"],
[type="checkbox"] {
  @extend %focus-outline;

  height: 1.5em;
  width: 1.5em;
}

[type="color"] {
  @extend %bordered;

  display: block;
  width: 6em;
  height: 3em;
  background: none;
}
