@import "../helpers";

h1,
h2,
h3,
h4,
h5,
h6,
[class*="heading-"] {
  @extend %textflow;
  font-family: $font-family-display;
  font-weight: $font-family-display-weight;
  line-height: calc(2px + 2ex + 2px);
  margin: scale(-2) * 1em 0 scale(-3) * 1em;
}

h1,
.heading-xl {
  @include fluid-font-size(scale(6));
}

h2,
.heading-lg {
  @include fluid-font-size(scale(5));
}

h3,
.heading-md {
  @include fluid-font-size(scale(4));
}

h4,
.heading-sm {
  @include fluid-font-size(scale(3));
}

/** 
 * we start to clump H5s and H6s together, assuming they'll be used strictly
 * for semantic purposes; when's the last time anybody legitimately needed that
 * level of nesting in their doc hierarchy?
 *
 * given that, there's not a lot of finesse invested in these tags/style
 */
h5,
h6,
.heading-xs {
  @include fluid-font-size(scale(2));
}
