figure {
  @extend %bottom-margin;
}

figcaption {
  @include type-scale(-1);
  margin: scale(-2) * 1em 0;
}

audio,
video {
  display: block;
  width: 100%;
}

video {
  background-color: $color-accent;
}

progress {
  display: block;
  width: 100%;
}

iframe,
embed {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
