@use "sass:math";

$text-margin: scale(1) * 1em;
$list-x-margin: scale(4) * 1em;
$list-y-margin: scale(-3) * 1em;

p,
li,
dt,
dd {
  @extend %textflow;
}

ol,
ul,
dl,
p,
details,
address {
  margin: 0 0 $text-margin;
}

ol,
ul {
  padding-left: $list-x-margin;
}

dt {
  font-weight: bold;
  margin-bottom: $list-y-margin;
}

dd {
  margin-left: $text-margin;
}

li {
  margin: 0 0 $list-y-margin;

  ul,
  ol,
  dl {
    margin-top: $list-y-margin;
  }
}

blockquote {
  @extend %pseudo-children;

  font-style: italic;
  margin: $text-margin;
  padding-left: $text-margin * 2;

  &::after {
    left: 0;
    top: 0;
    bottom: 0;
    border-right: math.div($text-margin, 3) solid $color-primary-lightest;
  }
}

summary {
  margin-bottom: $list-y-margin;
  list-style-position: outside;
}

details {
  padding-left: scale(2) * 1em;
}

address {
  font-style: inherit;
}

hr {
  border: 0;
  border-top: 2px solid $color-primary;
  margin: $list-x-margin 0;
}
