@use "sass:math";

$text-margin: scale(-1) * 1em;
$list-margin: scale(-4) * 1em;

p,
li,
dt,
dd {
  overflow-wrap: break-word;
  hyphens: auto;
}

ol,
ul,
dl,
p {
  margin: 0 0 $text-margin;
}

ol,
ul {
  padding-left: scale(4) * 1em;
}

dt {
  font-weight: bold;
  margin-bottom: $list-margin;
}

dd {
  margin-left: $text-margin;
}

li {
  margin: 0 0 $list-margin;

  ul,
  ol,
  dl {
    margin-top: $list-margin;
  }
}

blockquote {
  @extend %pseudo-children;

  font-style: italic;
  margin: $text-margin;
  padding-left: $text-margin * 2;

  &::after {
    left: 0;
    top: 0;
    bottom: 0;
    border-right: math.div($text-margin, 3) solid $color-primary-lightest;
  }
}
