@import './simmerplate-common';

@font-face {
    font-family: 'SP-Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'SP-Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: 'SP-Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'SP-Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: 'SP-Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'SP-Sans';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Lato-Black.ttf');
}

body {
    font-family: 'SP-Sans', sans-serif;
}
