@import "./variables";

@mixin at($size) {
  $breakpoint: 0;

  @if ($size == "md") {
    $breakpoint: $screen-size-md;
  } @else if ($size == "lg") {
    $breakpoint: $screen-size-lg;
  }

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin scale-font($degree) {
  $font-size: 1rem;

  @if ($degree > 0) {
    @for $i from 1 to $degree {
      $font-size: $font-size * $font-size-ratio;
    }
  } @else {
    @for $i from 1 to $degree {
      $font-size: $font-size / $font-size-ratio;
    }
  }

  font-size: $font-size;
}
