@import "./variables";
@import "./functions";

@mixin at($size) {
  $breakpoint: 0;

  @if ($size == "md") {
    $breakpoint: $screen-size-md;
  } @else if ($size == "lg") {
    $breakpoint: $screen-size-lg;
  }

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin scale-font($degree) {
  font-size: scale($degree) * 1rem;
}
