/*! Simmerplate | MIT License | github.com/phillipluther/simmerplate */

@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;

  @include at(md) {
    font-size: $font-size-base-md;
  }

  @include at(lg) {
    font-size: $font-size-base-lg;
  }
}

body {
  margin: 0;
  font-weight: normal;
}
