/*! Simmerplate | MIT License | github.com/phillipluther/simmerplate */

@import "./helpers";
@import "./components/headings";

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;

  @include at(md) {
    font-size: $font-size-base-md;
  }

  @include at(lg) {
    font-size: $font-size-base-lg;
  }
}

body {
  font-family: $font-family-text;
  font-weight: $font-family-text-weight;
  line-height: $line-height-base;
  margin: 0;
}

p,
li {
  overflow-wrap: break-word;
  hyphens: auto;
}

p,
li {
  margin: 0 0 scale(-2) * 1em;
}
